@import "grid";
$fa-font-path: "../../app/lib/font-awesome/fonts" !default;
$base-color: #00a652;
$second-color: #ffffff;
$third-color: #232323;
$white-color: #ffffff;
$base-font-color: #484848;
$second-font-color: #cacaca;
$gray-color: #efefef;
$red-annotation: #d90909;
