<article class="float-teaser">
    <div class="image">{{ content.field_image }}</div>
    <div class="description">
        <h2><a href="{{ url }}">{{ label }}</a></h2>
        <div class="body">{{ content.body[0] }}</div>
    </div>
</article>
