<article class="float-image">
    <div class="image">{{ content.field_image }}</div>
    <div class="description">
        <h2 class="title-text"><a href="{{ url }}">{{ label }}</a></h2>
        <div class="body">{{ content.body[0] }}</div>
    </div>
</article>
