<article class="float-vertical-circle">
    <div class="image">{{ content.field_image }}</div>
    <div class="description">
        <h2 class="title-text"><a href="{{ url }}">{{ label }}</a></h2>
    </div>
</article>
