<div class="one-pic-left" type="story">
	<h2>Day One</h2>
	<pre>This is one-pic-left.</pre>
	<img alt="asdasd" data-entity-type="file" data-entity-uuid="9349afa8-c3d2-46d7-b42c-360548556ec8" src="/sites/default/files/inline-images/01_0.jpeg" />
</div>


<div class="one-pic-right" type="story">
	<h2>Day Two</h2>
	<pre>This is one-pic-right.</pre>
	<img alt="asdasd" data-entity-type="file" data-entity-uuid="9349afa8-c3d2-46d7-b42c-360548556ec8" src="/sites/default/files/inline-images/01_0.jpeg" />
</div>


//----------------------------------------------------


<div class="two-pic-left" type="story">
	<h2>Day Three</h2>
	<pre>This is two-pic-left.</pre>
	<img alt="asdasd" data-entity-type="file" data-entity-uuid="9349afa8-c3d2-46d7-b42c-360548556ec8" src="/sites/default/files/inline-images/01_0.jpeg" />
	<img alt="asdasd" data-entity-type="file" data-entity-uuid="9349afa8-c3d2-46d7-b42c-360548556ec8" src="/sites/default/files/inline-images/01_0.jpeg" />
</div>


<div class="two-pic-right" type="story">
	<h2>Day Four</h2>
	<pre>This is two-pic-right.</pre>
	<img alt="asdasd" data-entity-type="file" data-entity-uuid="9349afa8-c3d2-46d7-b42c-360548556ec8" src="/sites/default/files/inline-images/01_0.jpeg" />
	<img alt="asdasd" data-entity-type="file" data-entity-uuid="9349afa8-c3d2-46d7-b42c-360548556ec8" src="/sites/default/files/inline-images/01_0.jpeg" />
</div>


//----------------------------------------------------


<div class="three-pic-left" type="story">
	<h2>Day Five</h2>
	<pre>This is three-pic-left.</pre>
	<img alt="1" data-entity-type="file" data-entity-uuid="6c7c4944-c6e0-4987-b76c-e879cfbdb217" src="/sites/default/files/inline-images/1_4.jpg" />
	<img alt="2" data-entity-type="file" data-entity-uuid="8fe016b6-2f66-414e-b47c-d91d8dbd1ff7" src="/sites/default/files/inline-images/2.jpg" />
	<img alt="3" data-entity-type="file" data-entity-uuid="eea771ba-ebcf-4836-9ebe-cce300be2a90" src="/sites/default/files/inline-images/3.jpg" />
</div>


<div class="three-pic-right" type="story">
	<h2>Day Six</h2>
	<pre>This is three-pic-right.</pre>
	<img alt="1" data-entity-type="file" data-entity-uuid="6c7c4944-c6e0-4987-b76c-e879cfbdb217" src="/sites/default/files/inline-images/1_4.jpg" />
	<img alt="2" data-entity-type="file" data-entity-uuid="8fe016b6-2f66-414e-b47c-d91d8dbd1ff7" src="/sites/default/files/inline-images/2.jpg" />
	<img alt="3" data-entity-type="file" data-entity-uuid="eea771ba-ebcf-4836-9ebe-cce300be2a90" src="/sites/default/files/inline-images/3.jpg" />
</div>


//----------------------------------------------------


<div class="four-pic" type="story">
	<pre>This is four-pic-left.</pre>
	<img alt="1" data-entity-type="file" data-entity-uuid="6c7c4944-c6e0-4987-b76c-e879cfbdb217" src="/sites/default/files/inline-images/1_4.jpg" />
	<pre>This is four-pic-left.</pre>
	<img alt="2" data-entity-type="file" data-entity-uuid="8fe016b6-2f66-414e-b47c-d91d8dbd1ff7" src="/sites/default/files/inline-images/2.jpg" />
</div>


//----------------------------------------------------


<div class="one-picture-top" type="story">
	<h2>Day Seven</h2>
	<img alt="1" data-entity-type="file" data-entity-uuid="6c7c4944-c6e0-4987-b76c-e879cfbdb217" src="/sites/default/files/inline-images/1_4.jpg" />
	<pre>This is one-picture-top.</pre>
</div>













