<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="one-pic-right grid-2">
    <h2>Day One</h2>

    <div class="text-section">Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace
        complex, with its ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National
        Jewelry Museum holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating
        back to Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
        Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble throne,
        was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar monarchs’
        jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The Milad Tower offers
        panoramic views over the city.
    </div>

    <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                    data-entity-uuid="701607ee-51b0-4f17-b8af-92e451140aec"
                                    src="/sites/default/files/inline-images/1_4.jpg"/></div>
</div>


<div class="one-pic-left grid-2">
    <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                    data-entity-uuid="701607ee-51b0-4f17-b8af-92e451140aec"
                                    src="/sites/default/files/inline-images/1_4.jpg"/></div>

    <div class="text-section">Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace
        complex, with its ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National
        Jewelry Museum holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating
        back to Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
        Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble throne,
        was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar monarchs’
        jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The Milad Tower offers
        panoramic views over the city.
    </div>
</div>


<div class="two-pic-right grid-2">
    <h2>Day Two</h2>

    <div class="text-section">Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace
        complex, with its ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National
        Jewelry Museum holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating
        back to Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
        Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble throne,
        was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar monarchs’
        jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The Milad Tower offers
        panoramic views over the city.
    </div>

    <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                    data-entity-uuid="701607ee-51b0-4f17-b8af-92e451140aec"
                                    src="/sites/default/files/inline-images/1_4.jpg"/> <img alt="Tehran"
                                                                                            data-entity-type="file"
                                                                                            data-entity-uuid="8ecdb5d7-9f6d-4fa0-a216-9cbe7e3e3258"
                                                                                            src="/sites/default/files/inline-images/2.jpg"/>
    </div>
</div>


<div class="two-pic-left grid-2">
    <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                    data-entity-uuid="701607ee-51b0-4f17-b8af-92e451140aec"
                                    src="/sites/default/files/inline-images/1_4.jpg"/> <img alt="Tehran"
                                                                                            data-entity-type="file"
                                                                                            data-entity-uuid="8ecdb5d7-9f6d-4fa0-a216-9cbe7e3e3258"
                                                                                            src="/sites/default/files/inline-images/2.jpg"/>
    </div>

    <div class="text-section">Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace
        complex, with its ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National
        Jewelry Museum holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating
        back to Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
        Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble throne,
        was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar monarchs’
        jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The Milad Tower offers
        panoramic views over the city.
    </div>
</div>


<div class="three-pic-right grid-2">
    <h2>Day Three</h2>

    <div class="text-section">Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace
        complex, with its ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National
        Jewelry Museum holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating
        back to Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
        Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble throne,
        was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar monarchs’
        jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The Milad Tower offers
        panoramic views over the city.
    </div>

    <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                    data-entity-uuid="701607ee-51b0-4f17-b8af-92e451140aec"
                                    src="/sites/default/files/inline-images/1_4.jpg"/> <img alt="Tehran"
                                                                                            data-entity-type="file"
                                                                                            data-entity-uuid="8ecdb5d7-9f6d-4fa0-a216-9cbe7e3e3258"
                                                                                            src="/sites/default/files/inline-images/2.jpg"/><img
            alt="Tehran" data-entity-type="file" data-entity-uuid="f17c96a8-7ff4-449f-bbe1-56182a98864e"
            src="/sites/default/files/inline-images/3.jpg"/></div>
</div>


<div class="four-pic">
    <h2>Day Four</h2>

    <div class="top-section">
        <div class="text-section">
            <p>Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace complex, with its
                ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National Jewelry Museum
                holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating back to
                Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
                Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble
                throne, was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar
                monarchs’ jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The
                Milad Tower offers panoramic views over the city.</p>
        </div>

        <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                        data-entity-uuid="701607ee-51b0-4f17-b8af-92e451140aec"
                                        src="/sites/default/files/inline-images/1_4.jpg"/></div>
    </div>

    <div class="bottom-section">
        <div class="text-section">
            <p>Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace complex, with its
                ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National Jewelry Museum
                holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating back to
                Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of
                Iran, in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble
                throne, was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar
                monarchs’ jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The
                Milad Tower offers panoramic views over the city.</p>
        </div>

        <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                        data-entity-uuid="f17c96a8-7ff4-449f-bbe1-56182a98864e"
                                        src="/sites/default/files/inline-images/3.jpg"/></div>
    </div>
</div>


<div class="one-picture-top">
    <h2>Day Five</h2>

    <div class="image-section"><img alt="Tehran" data-entity-type="file"
                                    data-entity-uuid="9457aebc-93ca-4c45-aa08-1d9abf7bf7fb"
                                    src="/sites/default/files/inline-images/barzak-sh-main2.jpg"/></div>

    <div class="text-section">
        <p>Tehran is the capital of Iran, in the north of the country. Its central Golestan Palace complex, with its
            ornate rooms and marble throne, was the seat of power of the Qajar dynasty. The National Jewelry Museum
            holds many of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating back to
            Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran is the capital of Iran,
            in the north of the country. Its central Golestan Palace complex, with its ornate rooms and marble throne,
            was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many of the Qajar monarchs’
            jewels, while the National Museum of Iran has artifacts dating back to Paleolithic times. The Milad Tower
            offers panoramic views over the city. Tehran is the capital of Iran, in the north of the country. Its
            central Golestan Palace complex, with its ornate rooms and marble throne, was the seat of power of the Qajar
            dynasty. The National Jewelry Museum holds many of the Qajar monarchs’ jewels, while the National Museum of
            Iran has artifacts dating back to Paleolithic times. The Milad Tower offers panoramic views over the city.&nbsp;Tehran
            is the capital of Iran, in the north of the country. Its central Golestan Palace complex, with its ornate
            rooms and marble throne, was the seat of power of the Qajar dynasty. The National Jewelry Museum holds many
            of the Qajar monarchs’ jewels, while the National Museum of Iran has artifacts dating back to Paleolithic
            times. The Milad Tower offers panoramic views over the city.</p>
    </div>
</div>

</body>
</html>