
$icons: (
    empty               : '',
    magnifier           : '\e607',
    iran-by-proviance   : '\e600',
    unesco-heritage     : '\e601',
    four-season-iran    : '\e0fc',
    upcoming-events     : '\e609',
    title-destination   : '\e629',
    population          : '\e624',
    area                : '\e625',
    time-zone           : '\e626',
    elevation           : '\e627',
    province            : '\e623',
    country             : '\e622',
    arrow-left          : '\e784',
    arrow-right         : '\e787',
    arrow-up            : '\e6ec',
    arrow-down          : '\e6e4',
    loading-skinny      : '\e740',
    close-circle        : '\e77f',
    see-all             : '\e608',
    visitoiran-icon     : '\e63e',
    grade               : '\e62e',
    phone               : '\e62f',
    email               : '\e630',
    website             : '\e635',
    fax                 : '\e634',
    address             : '\e631',
    duration            : '\e637',
    departure           : '\e638',
    age                 : '\e639',
    package-country     : '\e63a',
    city                : '\e63b',
    wallet              : '\e63c',
    facebook            : '\e61e',
    instagram           : '\e61c',
    pinterest           : '\e614',
    twitter             : '\e60a',
    star-fill           : '\e64a',
    star-stroke         : '\e64b',
    hotel-point         : '\e66d',
    hidden-beauty       : '\e66a',
    walking             : '\e66c',
    month-attr          : '\e669',
    day-attr            : '\e66b',
    our-office          : '\e63b',
    mountain            : '\e684',
    personal            : '\e683',
    car                 : '\e685',
    bubble-fill         : '\e694',
    bubble-empty        : '\e695',
    plus                : '\e71d',
    slick-next          : '\e6e9',
    slick-prev          : '\e6ea',
    barcode             : '\e714',
    visit-calender      : '\e686',
    rules               : '\e681',
    facilities          : '\e682',
    custom-user         : '\e6b5',

    hotel-pin           : '\f24e',
    hotel-tick          : '\f15d',
    hotel-building      : '\f264',
    hotel-dis-airport   : '\f119',
    hotel-dis-subway    : '\f2b2',
    hotel-dis-center    : '\f174',
    hotel-dis-rail    : '\f144'
);
